* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 900px;
    max-width: 100%;
    min-height: 500px;
}
.welcome{
    /* background: #FF416C; */
	background: linear-gradient(to right,rgb(94, 25, 25) ,#1f0101e6);
    border-radius: 0 10px 10px 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
	width: 40%;
    
}
.auth {
    /* background: linear-gradient(to right, #e6dee0, #ff4b2b); */
    border-radius: 0 10px 10px 0;
    color: #0b0b0b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
    flex: 1;
}

.names{
    display: flex;
}
.lname{
    margin-left: 10px;
}

h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.logo-con a {
    margin: 0 10px;
    padding: 10px;
    border-radius: 50%;
    color: #333;
}



.signin-container p {
    margin: 20px 0;
}

form input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 15px;
}

.forgot-password {
    color: #888;
    font-size: 14px;
    display: flex;
}

#two-logo{
    width: 200px;
    /* border: #0b0b0b solid 2px; */
}
button {
	color: #FFFFFF;
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
    cursor: pointer;
}

hr{
    width: 60%; 
    border: 1px solid black; 
    margin-left: auto; 
    margin-right: auto; 
}

.user-names{
    display: flex ;
}
.error-message {
    color: #fff;
    background-color: #f44336; 
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    display: none; 
}
.forgot-password {
    color: #888;
    font-size: 14px;
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.forgot-password:hover {
    color: #555;
}
