@import "master.css";

body {
    font-family: 'Arial', sans-serif;
    background-color: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Container Styling */
.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    width: 30%;
    padding: 20px 30px;
    text-align: center;
}

/* Header Styling */
h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333333;
}

p {
    font-size: 14px;
    color: #666666;
    margin-bottom: 20px;
}

/* Form Input Styling */
form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Button Base Styling */
.button {
    display: inline-block;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}


/* Primary Button Styling */
.button-primary {
    background-color: #FF4B2B;
    color: #ffffff;
}

.button-primary:hover {
    background-color: #e53e27;
}

/* Secondary Button Styling */
.button-secondary {
    background-color: #cccccc;
    color: #333333;
}

.button-secondary:hover {
    background-color: #bbbbbb;
}

/* Resend Button Styling */
.button-resend {
    background-color: #008CBA; /* Cool blue for resend */
    color: #ffffff;
    margin: 8px;
}

.button-resend:hover {
    background-color: #0074a3;
}

/* Message and Error Styling */
.message {
    color: green;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

/* 6-digit code input styling */
.input-group {
    /* display: flex; */
    justify-content: space-between;
    margin-bottom: 15px;
}

.code-input {
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 5px;
}

.code-input:focus {
    outline: none;
    border-color: #FF4B2B;
}
#sendcode{
    width: 90%;
    margin-bottom: 10px;
}

